<ion-menu side="start" menuId="first" contentId="main">
    <ion-header>
        <ion-toolbar>
            <ion-item>
                <ion-avatar slot="start">
                    <img *ngIf="user?.imagem !== 'sem_imagem'" src="{{user?.imagem}}" />
                    <img *ngIf="user?.imagem === 'sem_imagem'" src="assets/img/default-avatar.png" />
                </ion-avatar>
                <ion-label>{{user?.name}}</ion-label>
            </ion-item>
        </ion-toolbar>
    </ion-header>
    <ion-content>
        <ion-list>
            <ion-menu-toggle auto-hide="true">
                <ion-item [routerLink]="['/tabs/menu/perfil']">
                    <ion-icon name="person-circle-outline" slot="start"></ion-icon>
                    <ion-label>Perfil</ion-label>
                </ion-item>
            </ion-menu-toggle>

            <ion-menu-toggle auto-hide="true">
                <ion-item (click)="logout($event)">
                    <ion-icon name="exit-outline" slot="start"></ion-icon>
                    <ion-label>Sair</ion-label>
                </ion-item>
            </ion-menu-toggle>
        </ion-list>
    </ion-content>
</ion-menu>
<ion-router-outlet id="main"></ion-router-outlet>