.div-chapeu {
    position: fixed;
    z-index: 100;
}

.img-chapeu {
    width: 90px;
}

.div-macaco {
    margin-top: 362px;
    position: fixed;
    margin-left: 142px;
}
.img-macaco {
    width: 200px;
}

.div-tesoura {
    position: absolute;
    margin-top: 118px;
    margin-left: 98px;
}

.img-tesoura {
    width: 150px
}